table {
    border: 1px solid black;
    margin: 10px;
    
}
th, td {
    border: 1px solid black;
    margin: 500em;
    padding: 1em;
}
div {
    background-color: dodgerblue;
    width: 100%;
    text-align: center;
}