<h1>Topic Details </h1>
<div class="container">
    <h3>Topic Details</h3>
    <div class="row">
        <div class="col-md-3">
        <p>Topic Id : </p>
        </div>
        <div class="col-md-9">
        <p>{{topic?.topicid}}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3">
        <p>Topic Title : </p>
        </div>
        <div class="col-md-9">
        <p>{{topic?.topicname}}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3">
        <p>Topic Description : </p>
        </div>
        <div class="col-md-9">
        <p>{{topic?.description}}</p>
        </div>
        </div>
    </div>
    